**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
**/.DS_Store
**/venv
**/.venv/
**/env
**/volumes/

docker-compose.yml
README.md
Dockerfile
Makefile
nginx.conf
pyproject.toml
deploy.sh
backup_db.sh
.pylintrc
.env
.env_local
.pytest_cache/
